# {{ project_name }}

{{ project_description }}

# Testing

## Run test

[models](./models/README.md#test)  
[backend](./backend/README.md#test)  
[api](./api/README.md#test)  

## Run API test

[integration test](./api/README.md#integration-test)

# Usage

## Run docker

Install (docker)[https://docs.docker.com/desktop/] and (docker-compose)[https://docs.docker.com/compose/]

`docker-compose up` or `docker compose up`

[!WARNING]
If you run into an issue with the `uv sync` step in docker you may need to update dependencies in the corresponding folder see their README

## Open api docs

[https://localhost:8000/docs](https://localhost:8000/docs)
