# {{ project_name }}

{{ project_description }}

# Testing

# Run test

# Run coverage

# Run API test

`bruno`

# Usage

## Update dependencies

Install [uv](https://docs.astral.sh/uv/getting-started/installation/)

In each folder where the dependencies were updated

`uv lock`

## Run docker

Install (docker)[https://docs.docker.com/desktop/] and (docker-compose)[https://docs.docker.com/compose/]

`docker-compose up` or `docker compose up`

## Open api docs

[https://localhost:8000/docs](https://localhost:8000/docs)
