[project]
name = "backend"
version = "0.1.0"
description = ""
authors = [{ name = "{{ author }}"} ]
maintainers = [{ name = "{{ author  }}"} ]
readme = "README.md"
requires-python = ">= {{ python_version }}"

dependencies = [
    "psycopg[binary] >= {{ psycopg_version }}",
    "orjson >= 3.11.7",
    "pandas >= 3.0.1",
    "models @ {root:parent:uri}/models" # https://hatch.pypa.io/dev/config/context/
]

[dependency-groups]
test= [
    "pytest>={{ pytest_version }}",
    "pytest-env>={{ pytest_env_version }}",
    "polyfactory>={{ polyfactory_version }}",
    "pytest-cov>={{ pytest_cov_version }}"
]

# begin: required for {root}
[tool.hatch.metadata]
allow-direct-references = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
# end