[project]
name = "models"
version = "0.1.0"
description = ""
authors = [{ name = "{{ author }}"} ]
maintainers = [{ name = "{{ author  }}"} ]
readme = "README.md"
requires-python = ">= {{ python_version }}"
dependencies = [
    "pydantic >= {{ pydantic_version }}"
]

[dependency-groups]
dev = [
    "pytest >= {{ pytest_version }}",
    "pytest-env >= {{ pytest_env_version }}",
    "polyfactory >= {{ polyfactory_version }}",
    "pytest-cov >= {{ pytest_cov_version }}"
]